@media (max-width: 1100px) {
    #invertible-card {
        position: relative !important;
        box-shadow: none !important;
        z-index: 99;
    }
    #invertible-card-mini {
        display: none !important;
    }
}